<ion-view view-title="添加联系人" hide-tabs="true">
  <ion-content class="padding appAdd">
    <div class="list card">
        <div class="row item ">
          <div class="col col-33">姓名</div>
          <input class="col" placeholder="请输入姓名" style="border:0 ;">
        </div>
      <div class="row item">
        <div class="col col-33">身份证</div>
        <input class="col" placeholder="请输入身份证号" style="border:0 ;">
      </div>

      <div class="row item">
        <div class="col col-33">性别</div>
        <div class="col">
          <ion-list>
            <ion-radio  ng-model="choice" ng-value="'A'">男</ion-radio>
            <ion-radio  ng-model="choice" ng-value="'B'">女</ion-radio>
          </ion-list>
        </div>
      </div>
      <div class="row item">
        <div class="col col-33">联系电话</div>
        <input class="col" placeholder="请输入联系电话" style="border:0 ;">
      </div>
      <div class="row item">
        <div class="col col-33">地址</div>
        <input class="col" placeholder="请输入地址" style="border:0 ;">
      </div>
      </div>

    <div class="card">
      <div class="item item-text-wrap">
        温馨提示<br>
        请您正确填写个人信息，以便为您带来更优质的服务！
      </div>
    </div>
    <button class="button button-block button-positive" ng-click="onAddManButtonClick()">保存</button>

  </ion-content>
</ion-view>
