<ion-view view-title="修改联系人" hide-tabs="true">
  <ion-content class="padding appAlter">
    <div class="list card">
        <label class="row item ">
          <div class="col col-33">姓名</div>
          <div class="col">邓超</div>
        </label>
      <label class="row item">
        <div class="col col-33">身份证</div>
        <div class="col">610112198312282512</div>
      </label>

      <label class="row item">
        <span class="col col-33">性别</span>
        <label class="col">
            <ion-radio  ng-model="choice" ng-value="'A'">男</ion-radio>
        </label>
        <label class="col">
          <ion-radio  ng-model="choice" ng-value="'B'">女</ion-radio>
        </label>
      </label>
      <label class="row item">
        <div class="col col-33">联系电话</div>
        <div class="col">13572229938</div>
      </label>
      <label class="row item">
        <div class="col col-33">地址</div>
        <div class="col">延安</div>
      </label>
      </div>

    <div class="padding  hint">
      <div class="item item-text-wrap hint">
        温馨提示<br>
        请您正确填写个人信息，以便为您带来更优质的服务！
      </div>
    </div>
    <button class="button button-block button-positive" ng-click="onAddManButtonClick()">保存</button>
    <button class="button button-block button-assertive" ng-click="onDeleteManButtonClick()">删除</button>

  </ion-content>
</ion-view>
