<ion-view view-title="病情描述" hide-tabs="true">
  <ion-content>

    <!--进度-->
    <ul class="list">
      <li class="item item-checkbox checkbox-calm ">
        <label class="checkbox">
          <input type="checkbox" ng-checked="true" ng-disabled="true" >
        </label>
        <hr/>
      </li>
      <li class="item item-checkbox checkbox-calm" >
        <label class="checkbox">
          <input type="checkbox" ng-disabled="true">
        </label>
        <hr/>
      </li>
      <li class="item item-checkbox checkbox-calm">
        <label class="checkbox">
          <input type="checkbox" ng-disabled="true">
        </label>
        <hr/>
      </li>
      <li class="item item-checkbox checkbox-calm">
        <label class="checkbox">
          <input type="checkbox" ng-disabled="true">
        </label>
        <hr/>
      </li>
    </ul>

    <!--进度说明-->
    <div class="item item-divider row" style="width: 100%;">
      <span class="col col-20" style="text-align:center">病情描述</span>
      <span class="col col-25" style="text-align:center">支付</span>
      <span class="col col-35" style="text-align:center">平台确认</span>
      <span class="col" style="text-align:center">医院就诊</span>
    </div>

    <!--清浮动-->
    <div style="clear: both"></div>

    <!--病情描述-->
    <div class="list list-inset">
      <div class="item"><span>孙医生(工号007) 日期坐诊时间</span></div>
      <div class="item item-divider">病情描述</div>
      <div class="item"><textarea style="resize: none">请描述你的病情...</textarea></div>
      <div class="item item-divider">病情图片</div>
      <div class="item item-icon-right" ng-click="uploadPhoto()">上传图片
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <img src="" id="photo" ng-show="imgshow" style="width: 40%;height: 100px" />
      <div class="item item-divider">就诊人</div>
      <div class="item item-icon-right" ng-click="choosePeople()">请选择就诊人
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
      <button class="button button-block button-positive" ng-click="submitAppointment()">提交预约单</button>

    <!--温馨提示-->
      <div class=" item item-divider">
        <p>温馨提示:</p>
        <p>医生确认后请在服务历史中查看就诊时间,就诊地点和门诊预约码.</p>
        <p>此费用为你的门诊预约费用,线下就诊需另行支付挂号费.</p>
      </div>
  </ion-content>
</ion-view>
