<ion-view view-title="支付" hide-tabs="true">
  <ion-content >

    <!--进度-->
    <ul class="list">
      <li class="item item-checkbox checkbox-calm ">
        <label class="checkbox">
          <input type="checkbox" checked="true" ng-disabled="true">
        </label>
        <hr/>
      </li>
      <li class="item item-checkbox checkbox-calm" >
        <label class="checkbox">
          <input type="checkbox" checked="true" ng-disabled="true">
        </label>
        <hr/>
      </li>
      <li class="item item-checkbox checkbox-calm">
        <label class="checkbox">
          <input type="checkbox"  ng-disabled="true">
        </label>
        <hr/>
      </li>
      <li class="item item-checkbox checkbox-calm">
        <label class="checkbox">
          <input type="checkbox"  ng-disabled="true">
        </label>
        <hr/>
      </li>
    </ul>

    <!--进度说明-->
    <div class="item row" style="width: 100%;">
      <span class="col col-20" style="text-align:center">病情描述</span>
      <span class="col col-25" style="text-align:center">支付</span>
      <span class="col col-35" style="text-align:center">平台确认</span>
      <span class="col" style="text-align:center">医院就诊</span>
    </div>

    <!--清浮动-->
    <div style="clear: both"></div>

    <!--预约信息-->
    <div class="list">
      <div class="item item-divider row"><span class="col">{{doctorDetailObj.doctor_name}}</span><span class="col">{{doctorDetailObj.hospital_department_name}}</span><span class="col">{{doctorDetailObj.time_type==1?'普通':doctorDetailObj.time_type==2?'加急':'实时'}}门诊预约</span><span style="color: red" class="col">{{doctorDetailObj.price}}元</span></div>
      <div class="item">预约时间:{{doctorDetailObj.appointment_time}}</div>
      <div class="item">就诊地点:{{doctorDetailObj.address}}</div>
      <div class="item">病情描述:{{patient_condition}}</div>
      <div class="item item-divider">请选择支付方式</div>

      <!--支付选择-->
      <ion-radio class="item item-divider item-avatar-left" ng-init="cerrentChecked.id=payArr[0].id" ng-repeat=" pay in payArr" ng-model="cerrentChecked.id" ng-value="pay.id">
        <img src="{{pay.img}}" style="height: 60%"/>
        <h2>{{pay.payMetherd}}</h2>
        <p>{{pay.description}}</p>
      </ion-radio>
      <span>当前选择的是:<span style="color: blue">{{cerrentChecked.id}}</span></span>
      <!--ng-model绑定的是radio的ng-value值,不是一个obj对象,但ng-model需要是一个对象里面的属性名;当前用cerrentChecked.value绑定了 ng-value 的值(pay.id)-->

      <div class="list list-inset">
        <button class="button button-block button-positive" ng-click="submitPay()">确定支付</button>
      </div>
    </div>
  </ion-content>
</ion-view>
