<ion-view view-title="个人中心">
  <ion-content class="padding appCenter">
    <div class="list">
        <a class="item" href="#">
          <div>陈冬明</div>
          <i class="ion-ios-telephone-outline"></i>
          15615879761
        </a>
      </div>
      <div class="list">
        <a class="item item-icon-left message" href="#/tab/personal-center/personal-information">
          <i class="icon ion-compose person-icon-inner "></i>
          <i class="icon ion-record person-icon-outer "></i>
          <i class="icon ion-ios-circle-outline"></i>
          编辑个人信息
        </a>
        </ion-item>
        <a class="item item-icon-left change" href="#">
          <i class="icon ion-locked person-icon-inner "></i>
          <i class="icon ion-record person-icon-outer "></i>
          <i class="icon ion-ios-circle-outline"></i>
          修改密码
        </a>
        </div>
    <div class="list">
        <a class="item item-icon-left order" href="#">
          <i class="icon ion-clock person-icon-inner "></i>
          <i class="icon ion-record person-icon-outer "></i>
          <i class="icon ion-ios-circle-outline"></i>
          我的预约
        </a>
        <a class="item item-icon-left linkman" href="#/tab/personal-center/household-contacts">
          <i class="icon ion-person-stalker person-icon-inner "></i>
          <i class="icon ion-record person-icon-outer "></i>
          <i class="icon ion-ios-circle-outline"></i>
          家庭联系人
        </a>
        </div>
      <div class="list">
        <a class="item item-icon-left opinion" href="#">
          <i class="icon ion-social-twitch person-icon-inner "></i>
          <i class="icon ion-record person-icon-outer "></i>
          <i class="icon ion-ios-circle-outline"></i>
          意见反馈
        </a>
        <a class="item item-icon-left about" href="#">
          <i class="icon ion-information person-icon-inner "></i>
          <i class="icon ion-record person-icon-outer "></i>
          <i class="icon ion-ios-circle-outline"></i>
          关于
        </a>
      </div>
    <button class="button button-block button-light">退出登录</button>

  </ion-content>
</ion-view>
