<ion-view view-title="个人信息">
  <ion-content class="padding">

      <div class="list">

        <a class="item item-icon-left" href="#">
          <div>刘栋</div>
          <i class="icon ion-android-call"></i>
          18165152865
        </a>

    <br>

      <div class="list">
        <a class="item item-icon-left" href="#">
          <i class="icon ion-compose"></i>
          编辑个人信息

        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-locked"></i>
          修改密码
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-android-list"></i>
          我的预约
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
          家庭联系人
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-list"></i>
          意见反馈
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-ipod"></i>
          关于
        </a>
      </div>

    <br>
    <button class="button button-block button-positive">退出登录</button>

  </ion-content>
</ion-view>
