<ion-view view-title="爱尔生活">
	<ion-content class=" home">
		<!--<<<<<轮播图-->
		<div class="slide-pic">
			<ion-slide-box on-slide-changed="slideHasChanged($index)">
				<ion-slide>
					<div class="box">
						<img src="../img/login-bgi.png" alt="">
					</div>
				</ion-slide>
				<ion-slide>
					<div class="box">
						<img src="../img/login-bgi.png" alt="">
					</div>
				</ion-slide>
				<ion-slide>
					<div class="box">
						<img src="../img/login-bgi.png" alt="">
					</div>
				</ion-slide>
			</ion-slide-box>
		</div>
		<!--轮播图>>>>>-->
		<!--<<<<网格-->
		<div class="row grid-menu">
			<div class="col">
				<div class="list">
					<a class="item  item-thumbnail-right a1" href="#">
						<div class="img img1"><img src="../img/复诊.svg"></div>
						<h2>复诊</h2>
						<p>及时复诊预约</p>
					</a>
				</div>
				<div class="list">
					<a class="item  item-thumbnail-right a2" href="#">
						<div class="img img3"><img src="../img/名医.svg"></div>
						<h2>名医联盟</h2>
						<p>线上咨询</p>
					</a>
				</div>
			</div>
			<div class="col">
				<div class="list">
					<a class="item  item-thumbnail-right a3" href="#/tab/home/clinic-list">
						<div class="img img2"><img src="../img/诊所.svg"></div>
						<h2>爱尔诊所</h2>
						<p>名医坐诊</p>
					</a>
				</div>
				<div class="list">
					<a class="item  item-thumbnail-right a4" href="#">
						<div class="img img4"><img src="../img/商户.svg"></div>
						<h2>商户联盟</h2>
						<p>信赖商户</p>
					</a>
				</div>
			</div>
		</div>
		<!--网格>>>-->
		<div class="divider"></div>
		<!-- <<<名医联盟推荐医生-->
		<div class="list doc-list">
			<div class="item item-divider">
				名医联盟推荐医生
			</div>
			<a class="item item-thumbnail-left" href="#/tab/home/doctor-list/doctor-details" ng-repeat="item in recommendDoctorArr">
				<img ng-src="{{item.head_url}}">
				<h2>{{item.name}}<span>{{item.hospital_department_name+'&nbsp;'+item.job_title}}</span></h2>
				<h4>{{item.hospital_name}}</h4>
				<p>{{item.introducation}}</p>
			</a>
		</div>
		<!--名医联盟推荐医生>>>>>>>-->
	</ion-content>
</ion-view>
