<ion-view view-title="我的服务">
  <ion-content class="appServes" scroll="false">
    <ion-slide-box show-pager="false" ion-slide-tabs slide-tabs-scrollable="false" >

      <!--已确认-->
      <ion-slide ion-slide-tab-label="已确认">
        <ion-content>
          <div class="list" ng-repeat="item in sureList">
            <a class="item"  href="#">
              <div class="row">
                <img  class="col" src="{{item.img}}">
                <div class="col col-75 row">
                  <h2 class="col">{{item.doctor}}</h2>
                  <p class="col place">{{item.place}}</p>
                </div>
              </div>

                <p class="col text-center state">{{item.state}}</p>
                <p class="visit text-center">{{item.time}}</p>
              <div style="clear: both"></div>
            </a>
          </div>
        </ion-content>
      </ion-slide>

      <!--待确认-->
      <ion-slide ion-slide-tab-label="待确认">
        <ion-content>
          <div class="list" ng-repeat="item in waitSureList">
            <a class="item" href="#">
              <div class="row">
                <div class="col">{{item.contant}}</div>
                <div class="col text-right">{{item.state}}</div>
              </div>
              <div class="row">
                <div class="col">{{item.doctor}}</div>
                <div class="col text-right red">{{item.money}}</div>
              </div>
            </a>
          </div>
        </ion-content>
      </ion-slide>

      <!--待复诊-->
      <ion-slide ion-slide-tab-label="待复诊">
        <ion-content>
          <div class="list" ng-repeat="item in waitVisitList">
            <a class="item" href="#">
              <div class="row">
                <div class="col">{{item.contant}}</div>
                <div class="col text-right">{{item.state}}</div>
              </div>
              <div class="row">
                <div class="col">{{item.doctor}}</div>
                <div class="col text-right red">{{item.money}}</div>
              </div>
            </a>
          </div>
        </ion-content>
      </ion-slide>

      <!--待支付-->
      <ion-slide ion-slide-tab-label="待支付">
        <ion-content>
          <div class="list" ng-repeat="item in waitPayList">
            <a class="item" href="#">
              <div class="row">
                <div class="col">{{item.contant}}</div>
                <div class="col text-right">{{item.state}}</div>
              </div>
              <div class="row">
                <div class="col">{{item.doctor}}</div>
                <div class="col text-right red">{{item.money}}</div>
              </div>
            </a>
          </div>
        </ion-content>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
