ul{
  width: 100%;padding-right: 0px;margin: 0px;
  li:nth-child(-n+3){
    float:left;width: 26%;
    hr{
      border:1px solid royalblue;width:20px;height:0px;
    }
  }
  li:nth-last-child(1){
    float:left;width: 23%;
    hr{
      border:1px solid white;width:0px;height:0px;
    }
  }
}

//disable状态时设置颜色
.checkbox input:disabled:checked:before, .checkbox input:disabled:checked + .checkbox-icon:before {
  background: #387ef5;
  border-color: #387ef5;
  border-width: 2px;
}

.checkbox input:disabled:before, .checkbox input:disabled + .checkbox-icon:before {
  border-color: #387ef5;
  border-width: 2px;
}


hr{
  margin: -1px;padding: 0px;
}


