ul{
  width: 100%;padding-right: 0px;margin: 0px;
  li:nth-child(-n+3){
    float:left;width: 26%;
    hr{
      border:1px solid royalblue;width:20px;height:0px;
    }
  }
  li:nth-last-child(1){
    float:left;width: 23%;
    hr{
      border:1px solid white;width:0px;height:0px;
    }
  }
}
