html body{
  height: 100%;
}
.slideTab{
  margin-top: 90px;
  margin-bottom: 60px;
  height: 70%;
}

.dateSelect div{
  padding: 0px;
  text-align: center;
  table {
    width: 100%;
    thead{
      tr{
        padding: 0px;
        td{
          border: 1px solid gray;
          width: 13%;
        }
      }
    }
    tbody{
      color: #0c60ee;
      tr{
        margin-top: 0px !important;
        padding: 0px;
        td{
          border: 1px solid gray;
          width: 13%;
        }
      }
    }
  }
}


.AmTimeSelect div{
  padding: 0px;
  text-align: center;
  table {
    width: 100%;
    tr{
      margin-top: 0px !important;
      padding: 0px;
      td {
        border: 1px solid gray;
        width: 100%;
      }
    }
  }
}

.description{
  white-space:normal !important;
}

.address{
  white-space:normal !important;
}

.yuYue{
  color: blue !important;
}
.noYuYue{
  color: red !important;
}

.active{
  background-color: deepskyblue;
}

.disableYuYue{
  background-color: lightgray;
}
