.forgetPW {
	.logo {
		width: 100px;
		margin: 10px auto 100px auto;
		display: block;
	}
	.list {
		.button {
			background: none;
			border: none;
			padding: 0 15px;
		}
	}
	input {
		padding-left: 30px;
	}
	i {
		color: $calm;
	}
	.button {
		border: 1px solid #ddd;
		font-weight: bold;
	}
	.list-inset {
		margin: 10px;
	}
}