.forgetPW {
			z-index: 1;
	.logo {
		width: 100px;
		margin: 10px auto 100px auto;
		display: block;
	}
	.list {
			z-index: 1;
		position: relative;
		
		.button {
			background-color: #fff;
			border-color: #fff;
			padding: 0 15px;
			position: relative;
			color:#333;
		}
		.button.activated{
			background-color: #f0f0f0;
		}
	}
	input {
		padding-left: 30px;
	}
	i {
		color: $calm;
	}
	.button {
		border: 1px solid #ddd;
		font-weight: bold;
	}
	.list-inset {
		margin: 10px;
	}
}