.login {
	height: 100%;
	.logo {
		width: 90px;
		margin: 10px auto 20% auto;
		display: block;
	}
	input {
		padding-left: 30px;
	}
	i {
		color: $calm;
	}
	.button {
		border: 1px solid #ddd;
		font-weight: bold;
	}
	.row {
		margin-bottom: 20%;
		a {
			color: #BBB;
		}
	}
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}
	.bgi {
		position: absolute;
		margin: 0 -10px -10px -10px;
		bottom: -1px;
		img {
			width: 100%;
		}
	}
}