.appCenter{
  padding: 0;
  .button{
    color: #12acef;
  }
  .person-icon-inner{
    font-size: 1rem !important;
  }

  .person-icon-outer{
    opacity: 0.5;
  }
  .message{
    i{
      color: #ffb045;
    }
  }
  .change{
    i{
      color: #fa628e;
    }
  }
  .order{
    i{
      color: #ff9377;
    }
  }
  .linkman{
    i{
      color: #59d59a;
    }
  }
  .opinion{
    i{
      color: #57b5fd;
    }
  }
  .about{
    i{
      color: #7c70f2;
    }
  }
}
