/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #387ef5 !default;
$calm: #13ABF0 !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$dark: #444 !default;
$grey: #8d8d8d !default;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$fa-font-path: "../lib/font-awesome-4.7.0/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/lib/font-awesome-4.7.0/scss/font-awesome";
.appAdd{
  background-color: #f8f8f8;
    padding: 0;

  .button{
    color: #12acef;
  }
}

.forgetPW {
	.logo {
		width: 100px;
		margin: 10px auto 100px auto;
		display: block;
	}
	.list {
		.button {
			background: none;
			border: none;
			padding: 0 15px;
		}
	}
	input {
		padding-left: 30px;
	}
	i {
		color: $calm;
	}
	.button {
		border: 1px solid #ddd;
		font-weight: bold;
	}
	.list-inset {
		margin: 10px;
	}
}
.appHousehold{
  padding: 0;
}

.login {
	.logo {
		width: 100px;
		margin: 10px auto 100px auto;
		display: block;
	}
	input {
		padding-left: 30px;
	}
	i {
		color: $calm;
	}
	.button {
		border: 1px solid #ddd;
		font-weight: bold;
	}
	.row {
		margin-bottom: 100px;
		a {
			color: #BBB;
		}
	}
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}
	.bgi {
		margin: 0 -10px -10px -10px;
		img {
			width: 100%;
		}
	}
}
.appCenter{
  background-color: #f8f8f8;
  padding: 0;
  .button{
    color: #12acef;
  }
  .person-icon-inner{
    font-size: 1rem !important;
  }

  .person-icon-outer{
    opacity: 0.5;
  }
  .message{
    i{
      color: #ffb045;
    }
  }
  .change{
    i{
      color: #fa628e;
    }
  }
  .order{
    i{
      color: #ff9377;
    }
  }
  .linkman{
    i{
      color: #59d59a;
    }
  }
  .opinion{
    i{
      color: #57b5fd;
    }
  }
  .about{
    i{
      color: #7c70f2;
    }
  }
}

.appMessage{
  padding: 0;
}

.register {
	.logo {
		width: 100px;
		margin: 10px auto 100px auto;
		display: block;
	}
	.list {
		.button {
			background: none;
			border: none;
			padding: 0 15px;
		}
	}
	input {
		padding-left: 30px;
	}
	i {
		color: $calm;
	}
	.button {
		border: 1px solid #ddd;
		font-weight: bold;
	}
	.row {
		margin-bottom: 100px;
		a {
			color: #BBB;
		}
	}
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}
	.list-inset {
		margin: 10px;
	}
	.item-checkbox {
		border: none;
		color: $grey;
		font-size: 12px;
		padding: 10px;
		span {
			margin: auto;
			display: inline-block;
			width: 80%;
			text-align: center;
		}
	}
}