.ion-android-call {
  color: aqua; }

.ion-compose {
  color: #ffce7e; }

.ion-ios-locked {
  color: #fc9eb9; }

.ion-android-list {
  color: #ff9377; }

.ion-person-stalker {
  color: #53d396; }

.ion-ios-list {
  color: #57b5fd; }

.ion-ipod {
  color: #7c70f2; }

.dateSelect div table tr td{
  color: #007aff;
  width: 12.5%;
  border: 1px solid gray;
}

.AmTimeSelect div table tr td{
  color: #007aff;
  width: 90px;
  border: 1px solid gray;
}
